html,body {margin:0;padding:0;font-family: 'Lato',sans-serif;}
/*body.enterpage {
    background-image: url("images/cap-cz1.png");
    background-size: auto 200%;
    background-repeat: no-repeat;
    background-position: -700px -600px;
}*/
table {border-spacing:0px;margin:0px;}
table td {padding:3px;}
table th {border-bottom:2px solid #cdf;font-weight:normal;color:blue;padding:1px 5px;}
a {text-decoration:none;}
h1 {text-align:center;margin:8px 0 5px;font-size:1.6em}
h2 {margin:8px 0 5px;font-size:1em;padding:0 4px 6px;}
h3 {margin:0}
p {margin:3px;}
.inlineblock {display: inline-block !important}
.inlineflex {display: inline-flex !important}
.hidden {display: none !important;}
.hiddenhard {display: none !important;}
#loader {position:fixed;width:100%;height:100%;top:0;left:0;text-align:center;font-size:3em;display:none;z-index:5000;background-color:rgba(0,0,0,0.45);}
#loader #loadermsg {margin:20% 35%;padding:10px 20px;background-color:rgba(255,255,255,0.6);box-shadow:0 0 15px black;border-radius:12px;text-align:center;}
::-webkit-input-placeholder {color:#999;font-style:italic;font-size:0.8em}
:-moz-placeholder {color:#999;opacity:1;font-style:italic;font-size:0.8em}
::-moz-placeholder {color:#999;opacity:1;font-style:italic;font-size:0.8em}
:-ms-input-placeholder {color:#999;font-style:italic;font-size:0.8em}
ul.menu {padding:0}
ul.menu li {display:inline-block;list-style-type:none;border-radius:5px;box-shadow:0 0 2px gray;padding:1px 6px;margin:4px;background:linear-gradient(170deg,#fff,#f2f2f2);line-height:1.7em;white-space:nowrap;font-weight:bold;font-size:0.9em;color:#444;}
.editable ul.menu li {cursor:pointer;}
.editable ul.menu li:hover {box-shadow:0 0 2px #080;}
ul.menu li.selected {color:#fff;background:linear-gradient(170deg,rgba(255,255,255,0.5),rgba(0,0,0,0.1));box-shadow:0 0 4px #555;}
.info {font-size:0.7em;color:gray;font-style:italic;font-weight:normal;}
p.error {color:red;font-weight:bold;}
div.ajaxcontent p {text-align:center; position:absolute; top:0; left:0}
img.ajaxloader {width:32px;}

label input {vertical-align:middle;}
div.warning {
    background-color: rgba(0, 0, 0, 0.93);
    color:yellow;
    padding:10px;
    box-shadow: 0 0 22px black;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
}
div.warning p {font-size: 1.4em;text-align:center; color:yellow; font-weight:bold}

.enterpage div.warning {
    height:100%;
    width:20%;
    right:0;
    top:0;
    bottom:auto;
    left:auto;
}

.outer {
    background-color: transparent;
    padding:10px;
    margin:0 auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.bigbutton {
    margin:10px;
    padding:8px;
    text-align:center;
    border-radius:6px;
    box-shadow:0 0 12px #777;
    color:white;
    opacity:0.9;
    flex: 1 0 auto;
    min-height:120px;
}
.bigbutton:hover {opacity:1}

#logindiv {position: absolute; right:0; top:0; background-color: #ddd; box-shadow: 0 0 12px #777; text-align:right; padding:6px; z-index:1; border-radius:4px}
#logindiv input[type=text], #logindiv input[type=password] {width: 100px;}

.bigbutton.section1 form {margin:10px; display: inline-block;}
.bigbutton.section2 {background-color: #8bc34a;}
.bigbutton.section3 {background-color: #f44336;}
.bigbutton.section4 {background-color: #2196f3;}    /* filter: blur(1.5px); */
.bigbutton h1 {padding:0px 10px; font-size:2em; color:white; font-weight:normal}
.bigbutton h1>a { color:white; font-weight:normal;}
.bigbutton .subbutton {
    background-color:#2979ff;
    border:0;
    box-shadow:0 0 3px #777; margin:8px; cursor:pointer; font-size:1.3em; padding:2px 8px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button {
	cursor:pointer;
	border-radius:5px;
	/*box-shadow:0 0 3px gray;*/
	box-shadow: 0 0 4px #1f4e9e;
	background-color:#ccc;
	float:left;
	min-width:1em;
	min-height:1em;
	margin:2px 3px;
	padding:0px 3px;
	text-align:center;
	font-size:0.75em;
	text-transform:none !important;
}

.button:hover {
	background-color:#7c7;
}

.button.remove:hover {
	background-color:#f77;
	box-shadow:0 0 3px #f77;
}

.button.selected {background-color:yellow; color:green;}

div.toggler h1 {margin:8px 0 5px;font-size:1em;border-bottom:1px solid #99f;padding:0 4px 6px;cursor:pointer;text-align:left;margin-bottom:0}
div.toggler h1:hover {background-color:#ff9;}
div.toggler .content {border-radius:0px;background-color:white;padding:8px;margin:0 6px;border-bottom:1px solid #99f}
div.toggler.off .content {display:none;}

.window {
	position:fixed;
	background:linear-gradient(#fff,#ddd);
	box-shadow:0 0 36px 5px #aaa;
	font-size:1.0em;
}

.window p {
	font-size:1.2em;
}

.window.float {
	border-radius:6px;
	border:1px solid #aaa;
	padding:12px;
	overflow:auto;
}

.window.float.center {
	width:30%;
	left:35%;
	max-height:80%;
	top:20%;
}

.window .wrap {margin:8px;}

.window h1 {
	margin:0;
	font-size:1.2em;
	font-weight:normal;
	color:#06f;
}

.window .closebutton {
	border-radius:50%;
	position:absolute;
	right:0;
	bottom:0;
	cursor:pointer;
	margin:5px;
	background-color:#f99;
	width:1.25em;
	height:1.25em;
	text-align:center;
	box-shadow:0 0 3px black,0 0 5px #fcc inset;

}
.window.float .closebutton {
	top:0;bottom:auto;
}

.window .closebutton:hover {
	background-color:orange;
}

.window .button {display:inline-block}

.window .content {margin: 24px 4px;}

#main-holder {
	display:flex;
	width:100%;
}

#left-bar {
	border-right:2px solid #09f;
	padding-right:5px;
	flex: 0 0 auto;
}

.buttonmenu ul {
	color:blue;
	padding:0px 12px;
}

.buttonmenu ul li {list-style-type:none; font-size:1.2em; margin-top:12px;}

#main {flex: 1 3 auto}

div.withsuggestions {display:inline-block;}
ul.suggestions {
	display:inline-block;
	padding: 6px;
	margin:0;
	background-color:rgba(255, 255, 255, 0.85);
	box-shadow: 0 0 18px #000;
	border-radius:3px;
	position:absolute;
	overflow:hidden;
	z-index:2;
	min-width:220px;
}
ul.suggestions li {
/*	border:1px solid transparent;*/
    font-size:1rem;
	cursor:pointer;
	padding:3px 10px;
	list-style-type:none;
}

ul.suggestions li.notcurrent {color:gray}
ul.suggestions li.selected {
	background-color:rgba(255, 64, 129, 0.75);
}

#logobar {margin-top: 100px; margin-bottom: 10px; width:100%; display:flex; justify-content: space-around; flex-wrap: wrap;}
#logobar>div {flex: 1 0 auto; display:flex; flex-wrap: wrap;border-right: 1px solid #c5c5c5; padding: 0 0 0 10px;}
#logobar>div>p {width:100%; text-align:left; font-weight: bold}
#logobar div.logos {flex: 1 0 auto; display:flex; justify-content: space-around; align-items:center;}
#logobar img {max-width:120px; }
@media only screen and (max-width: 800px) {
    #logobar img {max-width:70px; }
    #logobar>div>p {font-size: 0.75em;}
}

#mainmenu {
    text-align: left;
    font-size: 1.8rem;
}
#mainmenu,#mainmenu a {color: #1e88e5}
#mainmenu span {vertical-align:middle}
#mainmenu li {list-style-type:none;}
#mainmenu li .bullet {border-radius:50%; width:2.5rem; height:2.5rem; display:inline-block; vertical-align:middle; margin:10px 20px;}

#mainmenu li.section1 .bullet {background-color: #8bc34a;}
#mainmenu li.section2 .bullet {background-color: #f44336;}
#mainmenu li.section3 .bullet {background-color: #2196f3;}
#mainmenu li.section4 .bullet {background-color: black;}
