div.paging {text-align:center;padding:5px;border-bottom:2px solid #09f;margin-bottom:5px;}
div.paging #filterbox {float:left;}
div.paging #filterbox input {width:140px;}
div.paging .legend {float:right;}

/*
#checklist {
	font-size:0.7em;
	width:90%;
	background-color:#eee;
	margin:0 auto;
	border-radius:8px;
	padding:2px 8px;
}
*/
table.taxonlist tr.notcurrent {color:#aaa !important;background-color:#f7f7f7;}
#legendpanel {padding:6px;border-bottom:2px solid #09f;}
#legendpanel>div {border:1px solid #eee;border-radius:4px;padding:2px 4px;float:left}

div.territory {
	border-radius:50%;
	border:2px solid #ddd;
	font-size:0.85em;
	width:1.8em;height:1.8em;
	text-align:center;
	line-height:1.8em;
	margin-left:3px;
	cursor:pointer;
	padding:1px;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	overflow:hidden;
}

div.territory .occurrencestatus {position:absolute;top:0;left:0;width:100%;height:100%}
div.territory .legend {position:absolute;top:0;left:0;width:100%;height:100%;}

div.territory:hover {box-shadow:0 0 2px 1px #0f0;}
div.territory.NATIVE {background-color:#afa;border:2px solid #afa;}
div.territory.ASSUMED_NATIVE {background-color:#afa;border:2px solid #8ae234;}
div.territory.DOUBTFULLY_NATIVE {background-color:#d2e102;border:2px solid #df0;}
div.territory.NATIVE_REINTRODUCED {border:2px solid #faa;background-image: linear-gradient(0deg, #faa 25%, #afa 25%, #afa 75%, #faa 75%);background-size:100% 100%;}
div.territory.EXOTIC_REINTRODUCED {border:2px solid #faa;background-image: linear-gradient(0deg, #faa 40%, #afa 40%, #afa 60%, #faa 60%);background-size:100% 100%;}
div.territory.ENDEMIC {background-color:#7f7;border:2px solid #090;border-radius:10%;}
div.territory.NEAR_ENDEMIC {background-color:#7f7;border:2px solid #090;border-radius:35%;}
div.territory.EXOTIC {background-color:#faa;border:2px solid #faa;}
div.territory.DOUBTFULLY_EXOTIC {background-color:#d90;border:2px solid #fd0;}
div.territory.CRYPTOGENIC {background-color:#2f69ff;border:2px solid #77f;}
div.territory.MULTIPLE_STATUS {background-color:#ccf;border:2px solid #ccf;}
div.territory.EXISTS {background-color:#ccf;border:2px solid #ccf;}
div.territory.ERROR {background-color:#f00;border:2px solid #f00;}
/* missing these:
NATIVE_REINTRODUCED
ASSUMED_EXOTIC
EXOTIC_REINTRODUCED
*/

div.territory .occurrencestatus.EXTINCT {
	background-color: rgba(0,0,0,0.1);
	background-image: linear-gradient(90deg, transparent 40%, black 40%, black 60%, transparent 60%, transparent)
		,linear-gradient(0deg, transparent 50%, black 50%, black 70%, transparent 70%, transparent);
	background-size:70% 70%;
	background-position:center;
	background-repeat: no-repeat;
}
div.territory .occurrencestatus.POSSIBLY_EXTINCT {
	background-color: rgba(0,0,0,0.1);
	background-image: linear-gradient(-45deg, rgba(0,0,0,0.5) 50%, transparent 50%, transparent);
	background-size:100% 100%;
}

div.territory .occurrencestatus.POSSIBLE_OCCURRENCE {
	/*background-image: linear-gradient(90deg, white 30%, rgba(255,255,255,0.4) 80%, transparent);*/
	background-image: linear-gradient(45deg, white 25%, transparent 25%),
		linear-gradient(-45deg, white 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, white 75%),
		linear-gradient(-45deg, transparent 75%, white 75%);
	background-size:50% 50%;
}

div.territory .occurrencestatus.ASSUMED_PRESENT {
	background-image:linear-gradient(0deg
		, transparent 20%, rgba(255,255,255,0.7) 20%, rgba(255,255,255,0.7) 30%, transparent 30%
		, transparent 50%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.7) 60%, transparent 60%
		, transparent 80%, rgba(255,255,255,0.7) 80%, rgba(255,255,255,0.7) 90%, transparent 90%
		);
}
/* missing these:
DOUBT_OVER_PRESENCE			// There is doubt over the presence of this taxon due to geographic issues (NOTE: doubt because of taxonomic issues is treated in another field)
ABSENT_BUT_REPORTED_IN_ERROR	// Taxon is absent, but it has been erroneously reported earlier (e.g. because of mis-identifications)
*/

/* other assorted flags */
div.territory .occurrencestatus.uncertain {
	background-image:linear-gradient(45deg
		, transparent 15%, rgba(255,255,255,0.7) 15%, rgba(255,255,255,0.7) 25%, transparent 25%
		, transparent 40%, rgba(255,255,255,0.7) 40%, rgba(255,255,255,0.7) 50%, transparent 50%
		, transparent 65%, rgba(255,255,255,0.7) 65%, rgba(255,255,255,0.7) 75%, transparent 75%
		, transparent 90%, rgba(255,255,255,0.7) 90%, rgba(255,255,255,0.7));
}

div.territory .occurrencestatus.RARE {
	background-image: radial-gradient(rgba(255,0,0,0.6) 30%, transparent 35%, transparent);
	background-size:100% 100%;
}

div.territory .occurrencestatus.UNCERTAIN_OCCURRENCE {
	background-image: radial-gradient(rgba(255,255,255,0.8) 40%, transparent 45%, transparent);
	background-size:100% 100%;
}


div.territory .occurrencestatus.ERROR {background-color:#f00;border:2px solid #f00;}

table.taxonlist div.territory {float:left;}
#legendpanel div.territory {width:1.2em;height:1.2em;}

#main.species table tr td {cursor:pointer;}
#main.species table tr:hover td {background-color:#eee;}

.taxman-holder {
	display:flex;
	position:relative;
	align-items:flex-start;
}

.taxtree-holder {
	padding-right:5px;
	border-right:2px solid #09f;
}

.taxtree-holder ul {
	list-style-type:none;
	padding-left:0.6em;
	margin-top:5px;
}
.taxtree-holder ul .tools {position:absolute;top:0;right:0;}
.taxtree-holder li.loading {font-style:italic;color:grey !important;background-color:#ccc}
.taxtree-holder li.ORDER {text-transform:uppercase;}
.taxtree-holder li.ORDER * {text-transform:none;}
.taxtree-holder li.FAMILY {color:blue;}
.taxtree-holder li.GENUS {color:#070;}
.taxtree-holder li.SPECIES {color:#07f;}
.taxtree-holder li.SUBSPECIES {color:#550;}
.taxtree-holder li.VARIETY {color:#990;}
.taxtree-holder ul li {
	position:relative;
	cursor:pointer;
	padding:4px 3px 4px 6px;
	background-color:white;
	border-left:1px dashed gray;
}
.taxtree-holder ul li:hover {
	background-color:#fa0;
}

.taxtree-holder ul li.notcurrent {color:#999 !important}

#taxtree {min-width:300px}

.taxdetails {flex-grow:1;margin:0 8px;padding:3px;}/*background-color:#f4f4f4;*/
#taxoninfo {display:flex;flex-wrap:wrap;justify-content:center}
#taxoninfo table {width:100%;}
#taxoninfo table td {border-bottom:2px solid white;}
#taxoninfo table tr:last-of-type td {border-bottom:0px;}
#taxoninfo>div {border-radius:5px;margin:12px;padding:0px;border:2px solid #99f;flex:1 1 auto;box-shadow:0 0 12px #aaa;overflow:hidden;background: linear-gradient(#fff,#ddf);}
#taxoninfo>div h3 {font-size:0.9em;background-color:#cdf;text-align:center;color:blue;padding:3px}
#taxoninfo>div#editbox {flex:0 1 100%;border:2px solid #faa;}
#taxoninfo>div#editbox h3 {font-size:0.9em;background-color:#fdc;text-align:center;color:blue}
#taxoninfo>div#generalinfo {flex:0 0 auto;}
#taxoninfo>div#distributioncompleteness {flex:1 1 300px;}
#taxoninfo table td:first-of-type {font-size:0.9em;font-weight:bold;border-right:3px solid white}
#taxoninfo table td:not(:first-of-type) {font-size:0.85em}
#taxonsynonyms .synonyms {padding:0;margin:0}
#taxonsynonyms .synonyms li {
	font-style:italic;
	list-style-type:none;
	margin:3px;
	/*white-space:nowrap;*/
}

#taxonsynonyms .synonyms .button.remove {float:none;display:inline-block;}

.taxdetails ul#currentstatus {text-align:center}
.taxdetails ul#currentstatus .current.selected {color:#050;background-color:#0a0;text-transform:uppercase;}
.taxdetails ul#currentstatus .notcurrent.selected {color:#500;text-transform:uppercase;background-color:#a00}

.taxdetails ul#worlddistribution li {background-color:#0a0}

ul.suggestions {
	display:inline-block;
	padding:0;
	margin:0;
}
ul.suggestions li {
/*	border:1px solid transparent;*/
	border-radius:6px;
	cursor:pointer;
	padding:1px 10px;
	list-style-type:none;
}
ul.suggestions li.selected {
/*	border:1px solid red;*/
	background:rgba(127,127,0,0.4);
}

#loginform {
	width:30%;
	border-radius:0px;
	box-shadow:0 0 3px #999;
	padding:5px;
	margin:20px auto;
	background:linear-gradient(#fff,#e7e7e7);
}
#loginform input[type=text],#loginform input[type=password] {
	width:50%
}

#logoutform {
	float:left;
}