@keyframes example {
    0% {transform: none; box-shadow:none;}
    44% {transform: none; box-shadow:none;}
    50% {transform: rotate(360deg) scale(1.5, 1.5); box-shadow: 0 0 16px black;}
    60% {transform: none; box-shadow:none;}
    100% {transform: none; box-shadow:none;}
}

.geoelement.selected:not(tr), .geoelement.selected td:not(.selectcol), .coordinates.selected td:not(.selectcol) {background-color:#ffff76 !important;}

#hidegeorref {
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

div.inactive {opacity:0.3; }

.monospace {font-family: "Courier New", Courier, monospace;}

#alloccurrences,#warningpanel {transition: opacity 0.5s, transform 0.5s;}

html.occurrencespage, body.occurrencespage {width:100%; height:100%; overflow:auto;}
body.occurrencespage {display:flex; height: 100%; align-items: stretch;}
body.occurrencespage .warning:not(.floating) {position: static; width:auto;}
body.occurrencespage .warning.floating {z-index:1002}
body.occurrencespage h2 {background-color: #1565c0; color: white; margin: 0}
body.occurrencespage .heading2 {background-color: #1565c0; color: white; position:relative}
body.occurrencespage .legend {color:#d5d5d5; margin:4px}
body.occurrencespage :not(.warning):not(.heading2) .legend {color:#393939;}
body.occurrencespage a.returntomain {position:static;}
body.occurrencespage a.returntomain img {height:70px}

body.occurrencespage.compactview .hideincompactview {display:none !important}
body.occurrencespage.compactview table {font-size:0.6rem;}

#alloccurrencetable th {position:sticky; top:0px;}

td.grouper {
    border-right:3px solid black;
    min-width:20px;
    background-color:transparent !important;
    text-align:center;
}

.pager {margin:6px;vertical-align: middle; display: inline-block;}
.pager a {vertical-align:middle; display:inline-block}
.pager .button {
    font-size: inherit;
    padding: 3px 5px;
    margin: 3px;
    vertical-align: middle;
}

.pager .imagebutton {line-height:0;}

#occurrencetable-holder {flex: 2 4 auto; overflow: scroll; position:relative;}
#georreferencer {flex: 1 5 auto; overflow: visible; display:flex; flex-direction: column;background-color: #bbdefb; position: relative}
#occurrencemap {flex: 4 0 30%;position:relative; height:100%;}
#floatingswitches {
    position: absolute;
    right:0;
    top:0;
    z-index:1001;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 8px black;
}

#floatingswitches .button {
    float:right;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    border-right: 1px solid #00dbff;
    padding: 6px;
    font-weight: bold;
}
#mapcontainer {width:100%; height:100%}
.mapbuttons {position:absolute; right:6px; bottom:12px; z-index:1001;}
.mapbuttons>div {display:inline-block;box-shadow: 0 0 8px black}


.leaflet-marker-icon {border:2px solid transparent; border-radius:50%}
.leaflet-marker-icon.selected {
    border:4px solid yellow;
    /*border-radius:25%;
    background-color: yellow;*/
    width:10px !important; height:10px !important;
    margin-left: -7px !important;
    margin-top: -7px !important;
    z-index: 1000 !important;
    box-shadow: 0 0 7px 1px yellow;
}

/* GEORREFERENCER */
#georreferencer .head {flex: 0 0 auto;}
#georreferencer #georref-results {flex:1 1 auto; overflow:auto;}
#georreferencer #georref-results .coordinates {display:none;}
#georreferencer table {font-size:1rem;}
#georreferencer h1 {word-break: break-all}
#georref-query {min-width:200px; width:100%; border:0; border-bottom: 2px solid #00c9ff; padding:2px}
#georref-helptoggle {
    background-image: url(images/ic_menu_help.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 4px;
    background-position: 4px;
    position: absolute;
    bottom:0; right:0;
}
.redcircleicon {background-color:red; border:2px solid white; transition: width 0.5s, height 0.5;}
.greensquareicon {
    background-color:transparent;
    border:2px solid #00ff15;
    border-radius:2px !important;
    box-shadow: 0 0 6px 2px #00ff15;
    width: 12px !important;
    height: 12px !important;
    margin-left: -6px !important;
    margin-top: -6px !important;
}

.opencircleicon {background-color:transparent; border:2px solid red; transition: width 0.5s, height 0.5;}
.blackcircleicon {background-color:black; border:2px solid red;}

.bigoption {
    margin: 30px;
    padding-left: 20px;
    border-left: 5px solid #1565c0
}

/* occurrence table */
/*.occurrencetable {table-layout: fixed;}*/
#topbuttons {display: flex; align-items: center; flex-wrap: wrap;}
.occurrencetable td.textemphasis {border:1px solid #444;font-weight: bold}
.occurrencetable td {
    height:16px;
    padding:2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}
.occurrencetable td.editable {cursor: pointer;}
.occurrencetable tr.dummy, .inventory.dummy {display: none;}
.occurrencetable th {background-color: #8bc34a; word-break: break-all; position:relative;vertical-align: bottom; padding: 10px 4px 0 4px;}
.occurrencetable th.inventoryfield {background-color: #FFC107}
.occurrencetable th.selectcol, .occurrencetable td.selectcol, .occurrencetable th.tinycol {width:1%;}
.occurrencetable th.bigcol {min-width:150px;}
.occurrencetable th.smallcol {width:10%;}
tr.unmatched td {background-color: #ffcdd2 !important}
tr.modified {outline: 1px dashed #b931ff; box-shadow: 0 0 3px #b931ff;}
tr.active {outline: 1px solid #63c2ff;}
tr.external td {font-style:italic}
.occurrencetable td.collapsed, .occurrencetable th.collapsed {min-width:12px; width:16px; max-width:16px; overflow: hidden; font-size:0.6em; padding:0}
.occurrencetable td.collapsed {text-overflow: ellipsis; white-space: nowrap;}
.occurrencetable .expandbutton {padding:0; background:transparent; text-align:center; background-size:auto 100%; height:8px;position:absolute; width:100%; top:1px; filter:invert(100%);}
.occurrencetable .expandbutton:hover {filter:none;}
.occurrencetable th:not(.collapsed) .expandbutton {background-image:url(images/expand.png); background-position:center center; background-repeat: no-repeat;}
.occurrencetable th.collapsed .expandbutton {background-image:url(images/resist.png); background-position:center center; background-repeat: no-repeat;}
.occurrencetable td img.photo {width:200px}

.expandbutton-clicker {width:100%; height:10px; margin:0;}

#suggestionstaxon {position:relative; width:0; height:0;}
/*#taxonsearchwrapper {width: 100%;}*/

.editbox {
    position: absolute;
    min-width: 40%;
    margin-top: 20px;
    box-shadow: 0 0 20px 3px black;
    z-index:1;
    border-radius:6px;
    left:30%;
    border:2px solid black;
}

#taxonsearchwrapper.editbox {min-width:60%;left:20%}
/*.occurrencetable #taxonsearchwrapper textarea {height:200px;}*/

td.editable:hover {outline:1px dotted #ff6969;}
td.editable.beingedited {outline:3px solid red;background-color:#ff9c9c !important}

.occurrencetable textarea, .occurrencetable input[type=text] {
    border: 0px dotted #2979ff;
    box-sizing: border-box;
    width: 100%;
    /*font-size: 1.1rem;*/
    padding: 6px 8px;
    min-width:100px;
    border-radius:3px;
    margin:0;
}

.selectcol .selectbutton {
    width:12px; height:12px; box-shadow: 0 0 3px black; border-radius: 50%;
    margin: 4px;
    transform:scale(0.5);
    transition: transform 0.2s;
    display: inline-block;
}

.selectcol .selectbutton.selected {
    background-color: #0f0;
    transform:scale(1);
}

td.selectcol {background-color: transparent !important; padding:0 !important; text-align:center; cursor:pointer;}

.inventory {
    margin: 36px 16px;
    background-color:#90caf9;
    box-shadow: 0 0 12px #4d4d4d;
    border-radius: 4px;
}

.inventory h3 {background-color: #2196f3; color:white;}
.inventory.geoelement.selected {background-color: #ffffbf !important;}
.inventory .editable {background-color:#bbdefb}
.inventory .occurrencetable th {background-color: transparent}
.inventory table td {background-color: transparent}
.inventory table tr:hover td:not(.title) {background-color:transparent;}
.inventory table tr:hover:not(.selected) .editable {background-color:#e3f2fd !important;}

.onlywhenmodified {display:none !important;}
.modified .onlywhenmodified {display:inherit !important;}

#occurrencefilter {display:inline-block; margin: 0 6px;}