html.occurrencespage, body.occurrencespage {width:100%; height:100%; overflow:auto;}
body.occurrencespage {display:flex; height: 100%; align-items: stretch;}

#occurrencetoolbar {
    background-color: yellow;
    flex: 0 0 auto;
}

#occurrencetable {
    flex: 1 1 50%;
    background-color: red;
}
#occurrencemap {
    flex: 1 1 50%;
    background-color: green;
}

#mapcontainer {width:100%; height:100%}