body.relative {position:relative}
a.returntomain { position:absolute; left:4px; top:4px}
a.returntomain img {width:67px; height: 80px;}
ul {list-style-type: none; padding-left: 3px;}
ul li {border-left: 3px solid #dad8d8; margin-bottom: 6px; padding-left: 6px;}
ul.hanging li {padding-left: 26px; text-indent: -20px;}
/*.compactform {padding:0}
.compactform * {margin:0 !important}*/
#main {text-align:left;}
#title {font-size:3em; text-align:right; padding:15px;}
#left-bar, #title, #title a, #title a:visited {
    background-color:#f44336;
    flex: 1 1 auto;
    color:white; font-weight:bold; border:0;
}

#left-bar {flex: 1 1 0px;}

#left-bar a {color:white}
.buttonmenu ul li {background-color:rgba(255,255,255,0.15); padding: 0.3em 0.7em; border-radius: 3px; box-shadow: 0 0 6px #a00;}

#main-holder.fixed #left-bar {
    position:fixed;
    width:200px;
    height:100%;
    overflow:auto;
}

#main-holder.fixed #main {
    margin-left:200px;
}
/*ul li {
	list-style-type:none;
	padding:0.7em;
	font-size:1.2em;
}*/
span.error {color:red !important; font-weight:bold !important;}

.nopadding {padding:0 !important}

h1 {text-align: left; font-size: 2.4em; color: #1e88e5; padding: 8px; margin: 0 12px 12px 12px; border-bottom: 3px solid #1e88e5}
h2 {text-align: left; font-size: 1.8em; color: #1565c0; padding: 8px}
h3 {text-align: left; font-size: 1.5em; color: #1565c0; padding: 8px}
p {text-align: justify; font-size: 1.2em; color: black; line-height:1.6em; padding: 8px;}
.redlistcategory h1 {border:none; margin:8px 0 5px 0}
ul.inlinelistitems li {display:inline-block; margin-right: 12px;}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

table td.separator {background-color:#2979ff; line-height:0.2em}

td.bignumber {font-size:1.2em; vertical-align:middle; text-align:center; font-weight:bold; padding: 8px 12px;}

#savingscreen {
    background-color:rgba(255,255,255,0.95);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;

    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.3s,opacity linear 0.3s;
}

#savingscreen.hiddenfade {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}

#savingscreen>div {
    font-size:3em;
    margin:200px auto;
    text-align:center;
    width:100%;
}
#savingscreen .ajaxloader {vertical-align:middle; width:100px;}

/* CONTENTEDITABLE DIVS */
div[contenteditable=true] {
/*background: linear-gradient(135deg, white 5px, #f3f3f3 5px, #f3f3f3 6px, transparent 6px, transparent 16px, #f3f3f3 16px, #f3f3f3 17px, transparent 17px),
        linear-gradient(225deg, white 5px, #f3f3f3 5px, #f3f3f3 6px, transparent 6px, transparent 16px, #f3f3f3 16px, #f3f3f3 17px, transparent 17px) 0 16px;
    background-color:white;
    background-size: 16px 32px;*/
    background: linear-gradient(0deg, white 0px, white 25px, #eee 25px);
    background-size: 10px 26px;
    background-position:0 3px;
    line-height:26px;
    box-shadow: 0 0 6px #bbb;
    padding:4px; border-radius:3px; min-height:26px;
    min-width:300px;
    /* this is to force Chrome to put <br> on line breaks */
    display:inline-block;
    width:100%;
    box-sizing: border-box;
}
div[contenteditable=true] .highlight {cursor:pointer;}
div[contenteditable=true] .highlight:hover {box-shadow: 0 0 7px #f00;}
div[contenteditable=true] .highlight.yellow:hover {background-color: #ff6c00;}
.highlight.yellow {background-color: #ffee00; box-shadow: 0 0 7px #770; border-radius:4px;}
.highlight.italic {font-style:italic;}
span.reference {font-family: mono; font-size: 0.8em; color:blue;}

.navigator {position:fixed; bottom:0; z-index:1; left: 0;}
.navigator .button {font-size: 1em; font-weight:bold;display:block; float:left; clear:left; box-shadow: 0 0 12px #600}

.multiplechooser {display:flex; flex-wrap:wrap; justify-content: space-between;}
.multiplechooser.left {justify-content: flex-start;}
.multiplechooser input[type=checkbox], .multiplechooser input[type=radio] {display:none;}
.multiplechooser label {
    flex: 1 1 auto;
    margin:8px;
    text-align:center;
    color:black;
    padding: 4px 18px;
    transition: background-color 0.2s, transform 0.2s, opacity 0.2s;
}
.multiplechooser.left label {flex: 0 1 auto;}
.multiplechooser label.line-break {width:100%; padding:0; margin:0}
.multiplechooser input:checked + label {background-color: #00e676; opacity:1;}
.multiplechooser input:not(:checked) + label {background-color: #ccc; opacity:0.6;}
.multiplechooser.sized input:checked + label {transform:scale(1)}
.multiplechooser.sized input:not(:checked) + label {transform:scale(0.8)}
.multiplechooser.compact label {padding: 2px 8px; margin:4px;}

.triggered.hidden {display:none;}

.wordtag {
    border-radius: 4px;
    padding: 3px 14px;
    display:inline-block;
    font-size:0.8em;
    /*text-transform: uppercase;*/
    font-weight:bold;
    margin: 6px;
    background-color: #64b5f6;
    user-select: none;
}

.wordtag.notransform {text-transform: none;}

.wordtag.compact {
    margin:0;
    font-size:0.8em;
    padding: 3px 7px;
}

.togglebutton {
    background-color: #2979ff;
    cursor:pointer;
    box-shadow: 0 0 3px gray;
    text-align:center;
}

.togglebutton.selected, .togglebutton.selected * {background-color:yellow; color:green !important;}

.togglebutton, .togglebutton a, .togglebutton a:visited {color:white}

.togglebutton .info {color:white;}

/********** SPECIES INDEX ***********/
#speciesindex {margin-bottom: 60px;}
#speciesindex td {padding:4px;}
#speciesindex th {position:sticky; top:0; z-index:1}
/*#speciesindex tr.species td:nth-of-type(2) {font-weight:bold}*/
/*#speciesindex td {transition: background-color 0.3s;}*/
#speciesindex tr.responsible td {background-color: #b2ff59 !important;}
#speciesindex tr.assessor td {background-color: #64ffda !important;}
#speciesindex tr.reviewer td {background-color: #ffab40 !important;}
#speciesindex tr.tag_ListaAlvo td {background-color: #f1f8e9;}
#speciesindex tr.tag_ListaB td {background-color: #e1f5fe;}
#speciesindex tr.tag_Listapreliminar td {background-color: #fff3e0;}
table.selectable tr.selected td {background-color: #64b5f6 !important;}
#speciesindex tr.validationerror td {background-color: #b71c1c; color:yellow !important;}
#speciesindex tr.validationerror td a {color:yellow !important;}
#speciesindex tr.revised td {background-color: #b388ff; }
#speciesindex tr.reassessment td {background-color: #80D8FF; }
#speciesindex tr.validated td {background-color: #00E676; }
#speciesindex.filter_onlyresponsible tbody tr:not(.responsible) {display: none;}
#speciesindex.filter_onlyauthor tbody tr:not(.author) {display: none;}
#speciesindex.filter_onlyassessor tbody tr:not(.assessor) {display: none;}
#speciesindex.filter_onlyreviewer tbody tr:not(.reviewer) {display: none;}
#speciesindex.filter_onlyrevised tbody tr:not(.revised) {display: none;}
#speciesindex.filter_onlyreassessment tbody tr:not(.reassessment) {display: none;}
#speciesindex.filter_onlyvalidated tbody tr:not(.validated) {display: none;}
#speciesindex.filter_onlyneedscorrections tbody tr:not(.needscorrections) {display: none;}
#speciesindex.filter_onlyapproved tbody tr:not(.approved) {display: none;}
#speciesindex.filter_onlynative tbody tr:not(.native) {display: none;}
#speciesindex.filter_onlypublished tbody tr:not(.published) {display: none;}
#speciesindex.filter_onlyassessed tbody tr:not(.assessed) {display: none;}
#speciesindex.filter_onlyvalidationerror tbody tr:not(.validationerror) {display: none;}
#speciesindex.filter_onlyselected tbody tr:not(.selected) {display: none;}

#speciesindex td.taxonname {font-size:1.2em}
#speciesindex tr:not(.species) td.taxonname {padding-left:1em}
#speciesindex .redlistcategory {width:50px; height:50px; padding:6px;}
#speciesindex .redlistcategory h1 {font-size:1.8rem !important; margin:5px 0 0 0!important;}
#speciesindex .redlistcategory sup {font-size: 0.8rem !important; right:2px !important;}
#speciesindex .redlistcategory p {font-size:0.7rem !important;}

.filterpanel {
    padding: 8px;
    text-align: left;
    border-left: 4px solid #979797;
    margin: 8px;
    border-radius: 4px;
    background-color: #eee;
}
.filterpanel.inactive {opacity:0.3}
.filterpanel.inactive .button, .filterpanel.inactive .filter {background-color:#999 !important;}
.filterpanel .filter-section {border-bottom:3px solid #ccc;}
.filterpanel .title {display:inline-block; color:gray; margin:6px;text-transform: uppercase;}

.filter {
    border-radius: 50px 4px 4px 50px;
    padding: 0 24px 0 0;
    display:inline-block;
    font-size:0.9em;
    text-transform: uppercase;
    font-weight:bold;
    margin: 6px;
    box-shadow: 0 0 3px gray;
    cursor:pointer;
    background-color: #3949ab;
    transition: opacity 0.4s, background-color 0.4s;
    vertical-align: middle;
}

.filter.tag {background-color: #8e24aa;}
.filter.small {
    padding: 0 8px 0 0;
    margin: 3px;
}

.filter[data-option=onlyvalidated] {background: linear-gradient(270deg, #00E676 0, #00E676 20px, #3949ab 20px, #3949ab 100%);}
.filter[data-option=onlyreassessment] {background: linear-gradient(270deg, #80D8FF 0, #80D8FF 20px, #3949ab 20px, #3949ab 100%);}
.filter[data-option=onlyrevised] {background: linear-gradient(270deg, #b388ff 0, #b388ff 20px, #3949ab 20px, #3949ab 100%);}
.filter[data-option=onlyvalidationerror] {background: linear-gradient(270deg, #b71c1c 0, #b71c1c 20px, #3949ab 20px, #3949ab 100%);}
.filter[data-option=onlyresponsible] {background: linear-gradient(270deg, #b2ff59 0, #b2ff59 20px, #3949ab 20px, #3949ab 100%);}
.filter[data-option=onlyassessor] {background: linear-gradient(270deg, #64ffda 0, #64ffda 20px, #3949ab 20px, #3949ab 100%);}
.filter[data-option=onlyreviewer] {background: linear-gradient(270deg, #ffab40 0, #ffab40 20px, #3949ab 20px, #3949ab 100%);}

.occurrencefield {background-color: #8bc34a !important}
.inventoryfield {background-color: #FFC107 !important}

/*.filter.lilac .light {background-color: #FFC107}
.filter.beige .light {background-color: #8bc34a}*/
.filter.legend {
    border-radius: 0;
    cursor: auto;
    background-color:white;
}
.filter.legend .light {
/*    margin: 0 10px 0 0;*/
    margin: 0;
    border-radius:0;
    box-shadow:none;
}

.filter.legend .light.right {margin:0; /*margin: 0 0 0 10px;*/}
.filter.legend .light input[type=submit] {width:1.5em; height:1.5em;}

.filter.legend > div {color:black; margin:0 8px;}
/*{background: linear-gradient(270deg, #E1BEE7 0, #E1BEE7 20px, #ccc 20px, #ccc 100%);}
{background: linear-gradient(270deg, #FFE0B2 0, #FFE0B2 20px, #ccc 20px, #ccc 100%);}*/
/*
.filter[data-option=onlyreassessment] {background-color: #80D8FF;}
.filter[data-option=onlyrevised] {background-color: #b388ff;}
.filter[data-option=onlyvalidationerror] {background-color: #b71c1c;}
.filter[data-option=onlyresponsible] {background-color: #b2ff59;}
.filter[data-option=onlyassessor] {background-color: #64ffda;}
.filter[data-option=onlyreviewer] {background-color: #ffab40;}

*/
.filter>div {
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.light {
    margin: 5px 10px 5px 5px;
    border-radius: 50%;
    box-shadow: 0 0 3px gray;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.filter.small .light {width:1rem; height:1rem}
.filter.selected>div.light {background-color:#76ff03; box-shadow: 0 0 7px #76ff03;}

input.selectionbox {display:none;}
input.selectionbox + label {
    width: 2em;
    height: 2em;
    display: block;
    box-shadow: 0 0 7px #bbb;
    margin:0 auto;
    border-radius:50%;
    cursor: pointer;
    text-align: center;
    line-height: 2em;
    color: grey;
}
input.selectionbox:checked + label {background-color: #76ff03; box-shadow: 0 0 7px #888;}
input.selectionbox:not(:checked) + label {background-color: white;}

/********** RED LIST DATA SHEET *******/
#sheet-header {
    position:relative;
    color: black;
    font-size:1.3em;
    background-color: #ffcdd2;
    padding:8px;
    font-weight:bold;
}

#sheet-header .redlistcategory {
    position:absolute;
    top:-45px;
    left:-25px;
    /*transform: scale(0.8, 0.8);*/
    box-shadow: 0 0 16px #600;
}
#sheet-header h1 {padding-left: 130px; color: inherit; border:none; margin:8px 0 5px 0}

#panels {   /* the tools below sheet header */
    display:flex;
    width:100%;
    flex-wrap: wrap;
}

#panels>div {
    flex: 0 1 auto;
    background-color: rgba(255,255,255,0.4);
    border-radius: 8px;
    margin: 5px;
    padding: 3px 8px;
}
#panels>div#header-buttons {flex: 1 0 0px;}

#panels>div h3 {padding:2px}
#versions * {vertical-align:middle;}

input, textarea, select {font-size: 14px; vertical-align: middle;}
select {max-width: 400px; text-overflow: ellipsis;}

input[type=submit]:not(.button), .floatingtoolbar>div {
    width:72px;
    height:72px;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 0 0 10px 2px #595959;
    background-color: #ff4081;
    color: white;
    border:0;
    transform: scale(1, 1);
    visibility: visible;
    transition: transform 0.4s;
    transition-delay: 0s;
    pointer-events: auto;
}

input[type=submit].button {font-family: 'Lato',sans-serif;}

input[type=submit].hidden, .button.hidden, .floatingtoolbar>div.hidden {
    transform: scale(0.01, 0.01);
    visibility: hidden;
    transition: visibility 0s linear 0.4s, transform 0.4s linear;
}

input[type=submit].textbutton {
    font-size: 1.2rem;
    display: inline-block;
    border-radius:3px;
    width:auto;
    height:auto;
    padding:8px 14px;
    margin:8px;
}

input[type=submit].textbutton.compact {
    font-size: 0.9rem;
    width:auto;
    height:auto;
    padding:2px 8px;
    margin:2px;
    box-shadow:0 0 6px #595959;
}

.button {
    font-size: 1.2rem;
    font-weight: normal;
    display: inline-block;
    border-radius:3px;
    width:auto;
    height:auto;
    margin:6px;
    background-color: #2979ff;
    padding:8px 14px;
    cursor:pointer;
    /*box-shadow: 0 0 8px #222;*/
    color: white;
    border:0;
    float:none;
    line-height: 1em;
    user-select: none;
}

#occurrencefilter .button {
    background-color: #1db940;
    /*padding:4px 10px;
    margin:2px;*/
}

.button.anchorbutton {padding:0;}
.button.anchorbutton a, .button.anchorbutton a:visited {padding:8px 14px; display: inline-block; color:white; line-height:1em;}
.button.anchorbutton.selected a, .button.anchorbutton.selected a:visited {color:green;}
.button.smallround {padding: 3px 5px; font-style:italic; font-size: 0.75rem; background-color: rgba(255,255,255,0.5); color: black; box-shadow: 0 0 3px gray; margin: 0 0 3px 0;}
.button.icon {padding: 2px 14px 2px 3px}
.button.icon img {
    vertical-align: middle;
    width:1.5em;
    height:1.5em;
}
.button.icon span {vertical-align: middle;}

.button-section {
    display: inline-block;
    border: 2px solid #2979ff;
    border-radius: 6px;
    padding: 4px;
    text-align: center;
}

#main .navigator .button.anchorbutton a {padding: 4px 12px}

/************ MAP ************/
.svgmap {width:200px; height:auto; cursor:pointer; }
.svgmap.floating {
    width:100%;
    min-height:100%;
    position:absolute;
    top:0; left:0;
    background-color:rgba(255, 255, 255, 0.95);
    float:none;
    z-index:2;
}
.svgmap path.portugal {fill:white;}
.svgmap path.convexhull {fill: rgba(41, 98, 255, 0.3); stroke-width: 2px; stroke: #2962ff; stroke-linejoin: round;}
.svgmap.floating path.convexhull {stroke-width:500px;}
.svgmap path.protectedarea {fill: rgba(139, 195, 74, 0.5); stroke-width:0px;} /* stroke-width: 2000px; stroke: #64dd17; */
.svgmap rect {fill:red; stroke-width: 2px; stroke:red;}
.svgmap.floating rect {stroke-width: 0px;}

.checkboxes {display:flex; flex-wrap: wrap; justify-content: space-between;}
.checkboxes.list {display: block; cursor:pointer;}
.checkboxes.list.compact {display: flex;}

.checkboxes input[type=checkbox], .checkboxes input[type=radio] {display:none;}
.checkboxes label {
    flex: 1 1 20%;
    margin: 6px 6px;
/*    padding: 4px 10px;*/
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    color:black;
    cursor:pointer;
    transition: background-color 0.15s;
    border-radius: 1rem 4px 4px 1rem;
    padding: 0 8px 2px 2px;
}

table.sheet.help .checkboxes label {border-radius: 1rem 4px 4px 4px;}

.checkboxes.list .placeholder {
    font-style: italic;
    background-color: transparent;
    box-shadow: none;
}

.checkboxes.list label, .checkboxes.list .placeholder {
    display: block;
    transition: max-width 0.5s, max-height 0.5s, padding 0.5s, margin 0.5s, background-color 0.15s;
    overflow:hidden;
    max-height:200px;
}

.checkboxes.list.buttonright label {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
}

.checkboxes .light {display: inline-block; vertical-align:middle; margin: 4px 8px 4px 4px; width: 1rem;height: 1rem;}
.checkboxes .light + span {vertical-align:middle}

.checkboxes input:checked + label {background-color: #448aff; opacity:1; box-shadow: 0 0 5px #888;}
.checkboxes input:checked + label .light {background-color: #76ff03; box-shadow: 0 0 7px #76ff03;}
.checkboxes.list input:not(:checked) + label {}
.checkboxes.list input[disabled] + label:hover {color:#448aff}
table.sheet:not(.help) .checkboxes.list:not(.alwaysvisible):not(:focus) input:not(:checked) + label {max-height: 0px; padding: 0px 10px; margin: 0px 6px;}
/*table.sheet:not(.help) .checkboxes.list:not(:focus) input:not(:checked) + label {max-height: 0px; max-width: 0; padding: 0; margin: 0}*/
table.sheet:not(.help) .checkboxes.list:not(.alwaysvisible):not(:focus) input, table.sheet:not(.help) .checkboxes.list:not(.alwaysvisible):not(:focus) label {pointer-events: none;}
.checkboxes.list:not(.alwaysvisible):not(:focus) input:checked + label ~ .placeholder, .checkboxes.list:focus .placeholder {display: none}
table.sheet.help .placeholder {display: none !important;}


.checkboxes label.CATEGORY1 , ul.checkboxes .light {background-color: #bbdefb}
.checkboxes label.CATEGORY2, ul.checkboxes ul .light {background-color: #f8bbd0}
.checkboxes label.CATEGORY3, ul.checkboxes ul ul .light {background-color: #f0f4c3}
.checkboxes label.CATEGORY4, ul.checkboxes ul ul ul .light {background-color: #d1c4e9}
.checkboxes label.CATEGORY5, ul.checkboxes ul ul ul ul .light {background-color: #c8e6c9}
.checkboxes label.CATEGORY6, ul.checkboxes ul ul ul ul ul .light {background-color: #ffccbc}
.checkboxes label.CATEGORY7 {background-color: #ffecb3}
.checkboxes label.CATEGORY8 {background-color: #bbdefb}
.checkboxes label.CATEGORY9 {background-color: #f8bbd0}
.checkboxes label.CATEGORY10 {background-color: #f0f4c3}
.checkboxes label.CATEGORY11 {background-color: #d1c4e9}
.checkboxes label.OTHER {background-color: #d7ccc8}

.legend {font-size: 0.65em; color:#545454;}

table {text-align: left; width:100%; border-collapse: separate; border-spacing:3px; margin-bottom:8px; font-size:1.1rem;}
table.small {width: auto;}
table.smalltext {font-size:1rem;}
table.verysmalltext {font-size:0.8rem;}
table th, table td.title {background-color:#ffcdd2; font-weight:bold; padding:6px; color:black; border:0;}
table td {padding:5px; background-color:#f0f0f0;}
table.smalltext td {padding:0px;}
table:not(.nohovereffects) tr:hover:not(.separator) td:not(.title) {background-color:#f0fff0;}

table.simpleform {width:100%;box-sizing: border-box;max-width:1000px;}
table.simpleform tr>td:nth-of-type(1) {width:0}
table.simpleform input[type=text] {width:100%;box-sizing: border-box;}

/*table td.title {background-color: #e3f2fd;}*/

.floatingtoolbar {
    position:fixed;
    right:0;
    bottom:0;
    z-index: 3;
    pointer-events: none;
}

.floatingtoolbar>input, .floatingtoolbar>div {
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 16px 16px 0;
    display: inline-block;
    vertical-align: bottom;
}

#mainformsubmitter {
    background-color: #ff4081;
    background-image: url(images/ic_menu_save.png);
}

#editselectedtaxa {
    background-color: #ff4081;
    background-image: url(images/ic_menu_edit.png);
}

#removeformatting {
    background-color: #2979ff;
    background-image: url(images/remove_formatting.png);
}

#toggle_help {
    background-color: #2979ff;
    background-image: url(images/ic_menu_help.png);
    background-size: 64px 64px;
}

table.sheet.help #toggle_help {background-color:yellow;}
table.sheet:not(.help) .legend {display:none;}
.legend.alwaysvisible {display:block !important;}
table.sheet>tbody>tr>td:nth-of-type(2) {font-weight:bold;width:30%}
table.sheet textarea
 , table.sheet input[type=text].longbox {width:100%; box-sizing: border-box;}
table.sheet {margin-bottom:350px;}
table.sheet table {width:100%;}
table.sheet table td:nth-of-type(1) {width:20%;}
table.sheet table.subtable td:nth-of-type(1) {white-space: nowrap;}
table.sheet table.subtable td.title {color:white; font-size:1.2em; padding:8px; vertical-align:middle; text-align:center; font-weight:bold; width:0;}

table.sheet.summary>tbody>tr:not(.textual) {display:none;}
table.sheet.declines>tbody>tr:not(.declines) {display:none;}
table.sheet tr.textual td:nth-of-type(3) {padding:0;}
/*table.sheet.summary #summary_toggle, table.sheet.declines #declines_toggle {background-color:yellow; color:green;}*/
table.sheet.showhighlights .highlight.yellow {transform: scale(1.4, 1.4); display:inline-block; box-shadow: 0 0 16px black;}
table.sheet.showhighlights #highlight_toggle {background-color:yellow; color:green;}
table.sheet td.title {color:white; font-size:1.2em; padding:8px; vertical-align:middle; text-align:center; font-weight:bold}
/*table.sheet .section1 td.title, .button.section1 {background-color: #81c784;}
table.sheet .section2 td.title, .button.section2 {background-color: #7986cb;}
table.sheet .section3 td.title, .button.section3 {background-color: #ff4081;}
table.sheet .section4 td.title, .button.section4 {background-color: #9575cd;}
table.sheet .section5 td.title, .button.section5 {background-color: #afb42b;}
table.sheet .section6 td.title, .button.section6 {background-color: #c62828;}
table.sheet .section7 td.title, .button.section7 {background-color: #64dd17;}
table.sheet .section8 td.title, .button.section8 {background-color: #757575;}
table.sheet .section9 td.title, .button.section9 {background-color: #c62828;}
*/
table.sheet .section1 td.title, .button.section1 {background-color: #2196f3;}
table.sheet .section2 td.title, .button.section2 {background-color: #9c27b0;}
table.sheet .section3 td.title, .button.section3 {background-color: #00bcd4;}
table.sheet .section4 td.title, .button.section4 {background-color: #ff9800;}
table.sheet .section5 td.title, .button.section5 {background-color: #3f51b5;}
table.sheet .section6 td.title, .button.section6 {background-color: #f44336;}
table.sheet .section7 td.title, .button.section7 {background-color: #8bc34a;}
table.sheet .section8 td.title, .button.section8 {background-color: #757575;}
table.sheet .section9 td.title, .button.section9 {background-color: #c62828;}
table.sheet .section10 td.title, .button.section10 {background-color: #000000;}
table.sheet .section11 td.title, .button.section11 {background-color: #009688;}
table.sheet .section12 td.title, .button.section12 {background-color: #000000;}

table.sheet .section1>td:nth-of-type(2) {background-color: rgba(033, 150, 243, 0.3);}
table.sheet .section2>td:nth-of-type(2) {background-color: rgba(156,  39, 176, 0.3);}
table.sheet .section3>td:nth-of-type(2) {background-color: rgba(  0, 188, 212, 0.3);}
table.sheet .section4>td:nth-of-type(2) {background-color: rgba(255, 152,   0, 0.3);}
table.sheet .section5>td:nth-of-type(2) {background-color: rgba( 63,  81, 181, 0.3);}
table.sheet .section6>td:nth-of-type(2) {background-color: rgba(244,  67,  54, 0.3);}
table.sheet .section7>td:nth-of-type(2) {background-color: rgba(139, 195,  74, 0.3);}
table.sheet .section8>td:nth-of-type(2) {background-color: rgba(117, 117, 117, 0.3);}
table.sheet .section9>td:nth-of-type(2) {background-color: rgba(198,  40,  40, 0.3);}
table.sheet .section10>td:nth-of-type(2) {background-color:rgba(  0,   0,   0, 0.3);}
table.sheet .section11>td:nth-of-type(2) {background-color:rgba(  0, 150, 136, 0.3);}

#habitat-tree {font-size: 0.9rem}
#habitat-tree ul li {cursor: pointer; padding: 0; margin: 0; border-left: 0px dotted black;}
#habitat-tree ul li .legend {flex: 1 2 auto; margin:0 5px;}
#habitat-tree ul ul {
    margin-left: 30px;
    border-left: 2px dotted black;
    padding: 0;
}

#habitat-tree .checkboxes label {padding:0; display:flex;}
#habitat-tree .checkboxes input:not([disabled]) + label {box-shadow: 0 0 5px 448aff;}
#habitat-tree .checkboxes input[disabled] + label {
    border-radius:0;
    font-weight:bold;
    background-color: transparent;
    font-size: 1.1em;
    padding: 4px 8px;
}
#habitat-tree .checkboxes input[disabled] + label .button {display:none;}
#habitat-tree .button.smallround {margin:0px; box-shadow: none; border-radius:0; display:flex; align-items: center;}

#redlistcategories {text-align:center}
#redlistcategories input[type=radio] {display:none;}
#redlistcategories label, .redlistcategory {
    text-align:center;
    display:inline-block;
    font-weight:bold;
    border-radius:50% 0 50% 50%;
    width:130px;
    height:130px;
    padding:10px;
    cursor:pointer;
    position:relative;
}

#redlistcategories label sup, .redlistcategory sup {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 1.4rem;
    color:#ff8888;
}

#redlistcategories label {
    transition: transform 0.4s, opacity 0.4s, margin 0.4s;
    vertical-align: middle;
    opacity:0.25;
}

#redlistcategories label[for=assess_EX], .redlistcategory.assess_EX {background-color:#000000;}
#redlistcategories label[for=assess_EW], .redlistcategory.assess_EW {background-color:#542344;}
#redlistcategories label[for=assess_RE], .redlistcategory.assess_RE {background-color:#235444;}
#redlistcategories label[for=assess_EX] *, .redlistcategory.assess_EX *
    , #redlistcategories label[for=assess_EW] *, .redlistcategory.assess_EW *
    , #redlistcategories label[for=assess_RE] *, .redlistcategory.assess_RE * {color:white !important}
#redlistcategories label[for=assess_CR], .redlistcategory.assess_CR {background-color:#d81e05;}
#redlistcategories label[for=assess_EN], .redlistcategory.assess_EN {background-color:#fc7f3f;}
#redlistcategories label[for=assess_VU], .redlistcategory.assess_VU {background-color:#f9e814;}
#redlistcategories label[for=assess_NT], .redlistcategory.assess_NT {background-color:#cce226;}
#redlistcategories label[for=assess_LC], .redlistcategory.assess_LC {background-color:#60c659;}
#redlistcategories label[for=assess_DD], .redlistcategory.assess_DD {background-color:#d1d1c6;}
#redlistcategories label[for=assess_NE], .redlistcategory.assess_NE {background-color:#ffffff; border:2px solid black;}
#redlistcategories label[for=assess_NA], .redlistcategory.assess_NA {background-color:#d1d1c6;}
#redlistcategories label[for=assess_NOT_ASSIGNED], .redlistcategory.assess_NOT_ASSIGNED {border:2px dashed black;}
#redlistcategories label[for=assess_NA] *, .redlistcategory.assess_NA * {color:#333333}

#redlistcategories label h1, .redlistcategory h1 {font-size:3.6rem !important; text-align: center; color:black; padding:0 !important;}
#redlistcategories label p, .redlistcategory p {font-size:1rem !important; text-align: center; color:black; padding:0 !important; line-height:1.2em;}
#redlistcategories label:hover {opacity:1}
#redlistcategories input:checked + label {opacity:1}
#redlistcategories input:not(:checked) + label {transform:scale(0.4, 0.4); margin: -30px;}

/********** RECORD TABLE *******/
.sortable th {cursor:pointer;}
#taxonrecordtable td {cursor: pointer;}
#taxonrecordtable tr.selected td {background-color:#ffff76 !important;}
/*#taxonrecordtable.filtered tbody tr:not(.selected) {display:none;}*/
/*#taxonrecordtable tbody td {transition: line-height 1s}*/
#taxonrecordtable.filtered tbody tr:not(.selected) td {line-height:0.15em; overflow:hidden; opacity: 0.3; text-indent:-9999px;}
#taxonrecords-map {
    position:fixed !important;
    left:0;
    bottom:0;
    display:inline-block;
    height:26%;
    width:auto;
    cursor: auto;
    float: none;
    transition: height 0.4s, opacity 0.4s, top 0.4s;
    opacity: 0.7;
}

#taxonrecords-map.selected {height:100%;opacity: 1;}
#taxonrecords-map.selected .portugal {cursor: grab;}
#taxonrecords-map:not(.selected) {cursor:pointer;}
#taxonrecords-map:not(.selected):hover {height: 34%;}
#taxonrecords-map .portugal {fill:rgba(0, 0, 0, 0.43)}
#taxonrecords-map path.protectedarea {fill: rgba(0, 0, 0, 0.3);}
#taxonrecords-map .utmsquare {cursor:pointer; fill-opacity: 0.65;stroke: red !important;stroke-width: 1px !important;}
#taxonrecords-map .utmsquare:hover {fill: yellow !important;}
#taxonrecords-map .utmsquare.selected {fill: #2979ff !important; stroke: #2979ff !important; fill-opacity: 1;}

@keyframes example {
    0% {transform: none;}
    49% {transform: none;}
    50% {transform: rotate(5deg);}
    51% {transform: rotate(-5deg);}
    52% {transform: none;}
    100% {transform: none;}
}
#taxonrecords-map:not(.selected) {
    animation-name: example;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

#allmapholder {display: flex; flex-wrap:wrap}
#allmapholder>div {
    flex: 1 0 200px;
    margin: 12px;
    box-shadow: 0 0 10px #aaa;
    padding: 8px;
    border-radius: 4px;
    text-align:center;
}
#allmapholder .svgmap {float:none;}
#allmapholder .header {height:2.2rem; line-height:1.1rem; font-size:1rem; font-style:italic}
#allmapholder .svgmap path.portugal {stroke:black; stroke-width: 1px;}
#allmapholder .svgmap rect {fill: #f55145; stroke:white;stroke-width: 1px;}
#allmapholder.big .svgmap {width:350px}
#allmapholder.interactive .svgmap rect {transition: fill 0.2s;}
#allmapholder.interactive .svgmap rect:hover {fill:blue !important;}

#referencelist {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: rgba(0,0,0,0.85);
    height: 100%;
    overflow: auto;
    box-shadow: 0 0 10px 5px black inset;
    z-index:10;
    text-align:center;
}

#referencelist input {font-size:3em; width:75%; padding:10px 20px;}
#referencelist td {cursor:pointer; padding:6px;}
#referencelist table {margin:1%; width:98%;border-radius:18px; overflow:hidden}
#referencelist p {color:white;}
#referencelist h1 .info {cursor:pointer}

#referencetable.clicktargetref tr:not(.selected) {display:none;}
#referencetable.clicktargetref .button.hidden {display:block !important; transform:none !important; visibility: visible !important;}
#referencetable.clicktargetref .button:not(.hidden) {display:none;}

#reviewpanel {
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
    height:30%;
    min-height:150px;
    overflow-y:scroll;
    background-color:#ffd79b;
    box-shadow: 0 0 30px 5px black;
    z-index: 2;
    transition: bottom 0.6s;
    font-size:1.1rem;
    padding:10px;
    box-sizing: border-box;
}

#reviewpanel.hidden {
    display:block !important;
    bottom: -30%;
    overflow-y: visible;
}

#reviewpanel div.contenteditable {
    background: linear-gradient(0deg, #ffd79b 0px, #ffd79b 20px, rgba(137,142,189,0.3) 20px);
    background-size: 10px 21px;
    background-position:0 3px;
    line-height:21px;
    color:black;
    box-shadow: none;
    min-height:100%;
}

#reviewpanel h1 {font-size:1.8rem; margin:0 0 8px 0; padding:0 0 8px 0; line-height:1.8rem}
#reviewpanel h2 {font-size:1.4rem; margin:0; padding:0 0 8px 0;}

#reviewpanel-handle {
    /*text-align: left;
    color: #1e88e5;
    font-size:1.8rem;
    font-weight:bold;*/
    background-color:#ffd79b;
    padding:0.2rem 0;
    cursor:pointer;
    border-radius: 0 15px 0 0;
}
#reviewpanel.hidden #reviewpanel-handle {
    position:absolute;
    left:0;
    top: -2.2rem;
    box-shadow: 0 0 30px 5px black;
}

#reviewpanel.hidden #reviewpanel-handle h1 {padding:0 16px 8px 16px; }

div.fieldhelp {
    color:#444;
    padding:0;
    padding:4px 8px;
    background-color:rgba(255,255,255,0.5);
    margin-top:8px;
    font-size:0.8rem;
    font-weight:normal;
    cursor:pointer;
}

div.fieldhelp ul {list-style-type: initial; padding-left: 10px;}
div.fieldhelp ul li {border:none;}
div.fieldhelp.big {font-size:1.1rem;}

div.fieldhelp a {
    text-decoration: underline;
    color:red;
}

form.orderdownload {
    box-shadow: 0 0 10px black;
    margin: 20px;
    padding: 0 16px 16px 16px;
    border-radius: 5px;
}

/*form.orderdownload input[type=submit] {float:right}*/