html,body {margin:0;padding:0;font-family: 'Lato',sans-serif;}
table {border-spacing:0;margin:0px;}
table td {padding:3px;}
a {text-decoration:none;}
h1 {text-align:center;margin:8px 0 5px;font-size:1.6em}
h2 {margin:8px 0 5px;font-size:1em;padding:0 4px 6px;}
h3 {margin:0}
p {margin:3px;}
::-webkit-input-placeholder {color:#999;font-style:italic;font-size:0.9em}
:-moz-placeholder {color:#999;opacity:1;font-style:italic;font-size:0.9em}
::-moz-placeholder {color:#999;opacity:1;font-style:italic;font-size:0.9em}
:-ms-input-placeholder {color:#999;font-style:italic;font-size:0.9em}
ul.menu {padding:0}
ul.menu li {display:inline;list-style-type:none;border-radius:5px;box-shadow:0 0 2px gray;padding:1px 6px;margin:0 4px;cursor:pointer}
ul.menu li:hover {background-color:#ff7;}
.info {font-size:0.8em;color:gray;font-style:italic;font-weight:normal;}
p.error {color:red;font-weight:bold;}
div.paging {text-align:center;background-color:#eee;padding:3px;}
div.paging .legend {float:left;}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button {
	cursor:pointer;
	border-radius:5px;
	box-shadow:0 0 3px gray;
	background-color:#ccc;
	float:left;
	min-width:1em;
	min-height:1em;
	margin:2px 3px;
	padding:0px 3px;
	text-align:center;
	font-size:0.75em;
	text-transform:none !important;
}

.button:hover {
	background-color:#7c7;
}

.button.remove:hover {
	background-color:#f77;
	box-shadow:0 0 3px #f77;
}

div.toggler h1 {margin:8px 0 5px;font-size:1em;border-bottom:1px solid #99f;padding:0 4px 6px;cursor:pointer;text-align:left;margin-bottom:0}
div.toggler h1:hover {background-color:#ff9;}
div.toggler .content {border-radius:0px;background-color:white;padding:8px;margin:0 6px;}
div.toggler.off .content {display:none;}

/*
#checklist {
	font-size:0.7em;
	width:90%;
	background-color:#eee;
	margin:0 auto;
	border-radius:8px;
	padding:2px 8px;
}
*/
.checklist table tr.notcurrent {color:#aaa !important;background-color:#f7f7f7;}
.checklist table div.territory {
	border-radius:50%;
	border:2px solid #fff;
	font-size:1.2em;
	float:left;
	width:1.4em;height:1.4em;
	text-align:center;
	line-height:1.4em;
	margin-left:3px;
	cursor:pointer;
	background-color:#eee;
	padding:1px;
}

.checklist table div.territory:hover {box-shadow:0 0 2px #0f0;}
.checklist table div.territory.NATIVE {background-color:#afa;border:2px solid #fff;}
.checklist table div.territory.ENDEMIC {background-color:#7f7;border:2px solid #090;}
.checklist table div.territory.EXOTIC {background-color:#faa;border:2px solid #fff;}
.checklist table div.territory.UNCERTAIN {background-color:#dd0;border:2px solid #ff0;}

#main-holder {
	display:flex;
	width:100%;
}

#left-bar {
	background-color:#eee;
}

#left-bar ul {
	color:blue;
	padding:0px 12px;
}

#left-bar ul li {list-style-type:none;font-size:1.5em;margin-top:12px;}

#main {flex-grow:2}
#main.species table tr td {cursor:pointer;}
#main.species table tr:hover td {background-color:#eee;}

.taxman-holder {
	display:flex;
	position:relative;
	align-items:flex-start;
}

.taxtree-holder ul {
	list-style-type:none;
	padding-left:0.6em;
	margin-top:5px;
}
.taxtree-holder ul .tools {position:absolute;top:0;right:0;}
.taxtree-holder li.loading {font-style:italic;color:grey !important;background-color:#ccc}
.taxtree-holder li.ORDER {text-transform:uppercase;}
.taxtree-holder li.ORDER * {text-transform:none;}
.taxtree-holder li.FAMILY {color:blue;}
.taxtree-holder li.GENUS {color:#070;}
.taxtree-holder li.SPECIES {color:#07f;}
.taxtree-holder li.SUBSPECIES {color:#550;}
.taxtree-holder li.VARIETY {color:#990;}
.taxtree-holder ul li {
	position:relative;
	cursor:pointer;
	padding:4px 3px 4px 6px;
	background-color:white;
	border-left:1px dashed gray;
}
.taxtree-holder ul li:hover {
	background-color:#fa0;
}

.taxtree-holder ul li.notcurrent {color:#999 !important}

#taxtree {min-width:300px}

#taxdetails {flex-grow:1;background-color:#eee;border-radius:6px;margin:0 8px;padding:3px;}
#taxoninfo {display:flex;width:100%}
#taxoninfo>div {border-radius:5px;margin:5px;padding:0px;border:2px solid #cdf;}
#taxoninfo>div h3 {font-size:0.9em;background-color:#cdf;text-align:center;color:blue}
#taxonnativestatus {flex-grow:1}

#taxonsynonyms {flex-grow:1}
#taxonsynonyms .synonyms {padding:0;margin:0}
#taxonsynonyms .synonyms li {
	font-style:italic;
	list-style-type:none;
	margin:3px;
	white-space:nowrap;
}

#taxonsynonyms .synonyms .button.remove {float:none;display:inline-block;}

#taxdetails ul.currentstatus {text-align:center}
#taxdetails ul.currentstatus .current,#taxdetails ul.currentstatus .notcurrent {color:gray}
#taxdetails ul.currentstatus .current.selected {color:#070;background-color:#9f9;text-transform:uppercase;}
#taxdetails ul.currentstatus .notcurrent.selected {color:#700;text-transform:uppercase;background-color:#f99}


ul.suggestions {
	display:inline-block;
	padding:0;
	margin:0;
}
ul.suggestions li {
/*	border:1px solid transparent;*/
	border-radius:6px;
	cursor:pointer;
	padding:1px 10px;
	list-style-type:none;
}
ul.suggestions li.selected {
/*	border:1px solid red;*/
	background:rgba(127,127,0,0.4);
}
